!!!
%html
  %head
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" }
  %body
    .container
      %ul
        %li
          %a{ href: '/' } На главную
        %li
          %a{ href: 'students/new' } Добавить студента
        %li
          %a{ href: 'students/best' } Десятка лучших

      = yield
